<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--後台服務 IP:Port:送出逾時(ms):接收逾時(ms)-->
    <!--認證的後台SocketService[]10.27.68.155-->
    <add key="AuthenticateService" value="10.27.88.164:6112:5000:5000"/>
    <!--LoadKey的後台SocketService[]10.27.68.155-->
    <add key="LoadKeyService" value="10.27.68.160:6112:5000:5000"/>
    <!--自動加值的後台SocketService[測試機]-->
    <add key="AutoLoadService" value="10.27.68.155:6101:10000:10000"/>
    <!--自動加值Txlog的後台SocketService[測試機]-->
    <add key="TxLogService" value="10.27.68.155:6102:3000:3000"/>
    <!--自動加值沖正Txlog的後台SocketService[測試機]-->
    <add key="ReversalTxLogService" value="10.27.68.155:6104:3000:3000"/>
    <!--自動加值的後台SocketService[正式機]的LoadBalancer-->
    <!--<add key="AutoLoadService" value="10.69.3.48:6101:3000:3000"/>-->
    <!--測試:TxLog檔案存放路徑-->
    <add key="TxLogStoragePath" value="D:\temp\"/>
    <!--測試:鎖卡TxLog的後台WebService-->
    <add key="CardLockService" value="http://10.27.68.155/IBON_TOL_RS/api/TOL" />
    <!--測試:企業加值的後台Service-->
    <add key="CompanyChargeService" value="http://10.27.68.155/IBON_COMLOL_RS/api/ComLoad"/>
    <!--測試:企業加值TxLog的後台Service-->
    <add key="CompanyChargeTxLogService" value="http://10.27.68.155/IBON_TOL_RS/api/TOL"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--允許request內容資料的最大長度:2Gb-->
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <!--*******************************************************-->
    <!--移除Response的Header訊息-->
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <remove name="X-AspNet-Version"/>
        <remove name="X-Powered-By"/>
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
    <!--*******************************************************-->
    <handlers>
      <!--讀取某個Dll的內的物件-->
      <!--檢查時間處理函式(測試)-->
      <add name="CheckTime" path="chkTime" verb="GET" type="Proxy.CheckTimeHandler, Proxy"/>
      <!--3Pass認證處理函式-->
      <add name="Authenticate" path="Authenticate" verb="GET,POST" type="Proxy.AuthenticateHandler, Proxy"/>
      <!--LoadKey處理函式-->
      <add name="LoadKey" path="LoadKey" verb="GET,POST" type="Proxy.KMSGetterHandler, Proxy"/>
      <!--iBon自動加值處理函式-->
      <add name="AutoLoadHandler" path="AutoLoad" verb="GET,POST" type="Proxy.AutoLoadHandler, Proxy"/>
      <!--Txlog處理函式-->
      <add name="TxLogHandler" path="TxLog" verb="GET,POST" type="Proxy.TxLogHandler, Proxy"/>
      <!--Txlog檔案上傳處理函式-->
      <add name="TxLogFileUpLoadHandler" path="TxLogFileUpLoad" verb="GET,POST" type="Proxy.TxLogFileUpLoadHandler, Proxy"/>
      <!--鎖卡Txlog處理函式-->
      <add name="CardLockHandler" path="CardLockTxLog" verb="GET,POST" type="Proxy.CardLockHandler, Proxy"/>
      <!--企業自動加值處理函式-->
      <add name="CompanyPrepaidHandler" path="CompanyCharge" verb="GET,POST" type="Proxy.CompanyPrepaidHandler, Proxy"/>
      <!--企業自動加值TxLog處理函式-->
      <add name="CompanyPrepaidTxLogHandler" path="CompanyChargeTxLog" verb="GET,POST" type="Proxy.CompanyPrepaidTxLogHandler, Proxy"/>
    </handlers>
    <httpErrors errorMode="Custom" defaultResponseMode="File" existingResponse="Auto">
      <remove statusCode="401"/>
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <!--不能加prefixLanguageFilePath="" responseMode="ExecuteURL"(加了ErrorPage就跑不出來了)-->
      <!--path若檔案在資料夾下不要加/或~/  會找不到路徑(這裡屬於存取靜態檔案錯誤,ex:aaa.gif,aaa.css,aaa.html...)-->
      <!--ref:http://blog.darkthread.net/post-2015-11-10-customerrors-and-httperrors.aspx-->
      <error statusCode="401" path="Error/Error401.html" />
      <error statusCode="403" path="Error/Error403.html" />
      <error statusCode="404" path="Error/Error404.html" />
      <error statusCode="500" path="Error/Error500.html" />
    </httpErrors>
  </system.webServer>
    <system.web>
      <!--測試移除Response Headers裡的X-AspNet-Version-->
      <httpRuntime enableVersionHeader="false"/>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="On">
        <!--path若檔案在資料夾下不要加/或~/  會找不到路徑(這裡屬於執行編譯檔案錯誤.ex:aaa.ashx,aaa.aspx...)-->
        <error statusCode="401" redirect="Error/Error401.html"/>
        <error statusCode="403" redirect="Error/Error403.html"/>
        <error statusCode="404" redirect="Error/Error404.html"/>
        <error statusCode="500" redirect="Error/Error500.html"/>
      </customErrors>
    </system.web>
  <!--設定加入監聽-->
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="traceListener" type="Crypto.EskmsAPI_UnitTest.DebugToLog4Net, Crypto.EskmsAPI_UnitTest"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <!--放上IIS時要改路徑-->
        <arg key="configFile" value="~/Bin/log4net.xml" />
        <!--使用IIS Express測試時的路徑-->
        <!--<arg key="configFile" value="~/log4net.xml" />-->
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
