<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--後台服務 IP:Port:送出逾時(ms):接收逾時(ms)-->
    <!--自動加值的後台SocketService[測試機]-->
    <add key="AutoLoadService" value="10.27.68.155:6101:3000:3000"/>
    <!--自動加值Txlog的後台SocketService[測試機]-->
    <add key="TxLogService" value="10.27.68.155:6102:3000:3000"/>
    <!--自動加值沖正Txlog的後台SocketService[測試機]-->
    <add key="ReversalTxLogService" value="10.27.68.155:6104:3000:3000"/>
    <!--自動加值的後台SocketService[正式機]的LoadBalancer-->
    <!--<add key="AutoLoadService" value="10.69.3.48:6101:3000:3000"/>-->
    <!--測試:TxLog檔案存放路徑-->
    <add key="TxLogStoragePath" value="D:\temp\"/>
    <!--測試:鎖卡TxLog的後台WebService-->
    <add key="CardLockService" value="http://10.27.68.155/IBON_TOL_RS/api/TOL" />
    <!--測試:企業自動加值的後台Service-->
    <add key="CompanyAutoLoadService" value="http://10.27.68.155/IBON_TOL_RS/api/TOL"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--允許內容資料的最大長度-->
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <!--*******************************************************-->
    <!--測試移除Response的Header-->
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <remove name="X-AspNet-Version"/>
        <remove name="X-Powered-By"/>
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
    <!--*******************************************************-->
    <handlers>
      <!--讀取某個Dll的內的物件-->
      <!--檢查時間處理函式(測試)-->
      <add name="CheckTime" path="chkTime" verb="GET" type="Proxy.CheckTimeHandler, Proxy"/>
      <!--3Pass認證處理函式-->
      <add name="Authenticate" path="Authenticate" verb="GET,POST" type="Proxy.AuthenticateHandler, Proxy"/>
      <!--iBon自動加值處理函式-->
      <add name="AutoLoadHandler" path="AutoLoad" verb="GET,POST" type="Proxy.AutoLoadHandler, Proxy"/>
      <!--Txlog處理函式-->
      <add name="TxLogHandler" path="TxLog" verb="GET,POST" type="Proxy.TxLogHandler, Proxy"/>
      <!--Txlog檔案上傳處理函式-->
      <add name="TxLogFileUpLoadHandler" path="TxLogFileUpLoad" verb="GET,POST" type="Proxy.TxLogFileUpLoadHandler, Proxy"/>
      <!--鎖卡Txlog處理函式-->
      <add name="CardLockHandler" path="CardLockTxLog" verb="POST" type="Proxy.CardLockHandler, Proxy"/>
      <!--企業自動加值處理函式-->
      <add name="CompanyAutoLoadHandler" path="CompanyAutoLoad" verb="POST" type="Proxy.CompanyAutoLoadHandler, Proxy"/>
      <!--企業自動加值TxLog處理函式-->
      <add name="CompanyAutoLoadTxLogHandler" path="CompanyAutoLoadTxLog" verb="POST" type="Proxy.CompanyAutoLoadTxLogHandler, Proxy"/>
    </handlers>
  </system.webServer>
    <system.web>
      <!--測試移除Response Headers裡的X-AspNet-Version-->
      <httpRuntime enableVersionHeader="false"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <!--放上IIS時要改路徑-->
        <arg key="configFile" value="~/Bin/log4net.xml" />
        <!--使用IIS Express測試時的路徑-->
        <!--<arg key="configFile" value="~/log4net.xml" />-->
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
