<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--允許內容資料的最大長度-->
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <handlers>
      <!--讀取某個Dll的內的物件-->
      <add name="CheckTime" path="chkTime" verb="GET" type="Proxy.CheckTimeHandler, Proxy"/>
      <add name="Authenticate" path="Authenticate" verb="GET,POST" type="Proxy.AuthenticateHandler, Proxy"/>
    </handlers>
  </system.webServer>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <!--放上IIS時要改路徑-->
        <arg key="configFile" value="~/Bin/log4net.xml" />
        <!--使用IIS Express測試時的路徑-->
        <!--<arg key="configFile" value="~/log4net.xml" />-->
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
